// Global
#apper {
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin: 0 auto;
	max-width: 900px;
	padding: 30px;
}

.main {
	margin-bottom: 30px;
}

.thumbnails {
	margin: 0 -5px;
	width: calc(100% + 10px);
}

// Basic VueAgile styles
.agile {
	&__nav-button {
		background: transparent;
		border: none;
		color: #ccc;
		cursor: pointer;
		font-size: 24px;
		transition-duration: .3s;
	}
	.thumbnails & {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		&--prev {
			left: -45px;
		}
		&--next {
			right: -45px;
		}
	}
	&:hover {
		color: #888;
	}
	&__dot {
		margin: 0 10px;
		button {
			background-color: #eee;
			border: none;
			border-radius: 50%;
			cursor: pointer;
			display: block;
			height: 10px;
			font-size: 0;
			line-height: 0;
			margin: 0;
			padding: 0;
			transition-duration: .3s;
			width: 10px;
		}
		&--current,
		&:hover button {
			background-color: #888;
		}
	}
}

// Slides styles	
.slide {
	align-items: center;
	box-sizing: border-box;
	color: #fff;
	display: flex;
	height: 450px;
    justify-content: center;
    transition: background-position linear 0.7s;
	&--thumbniail {
		cursor: pointer;
		height: 100px;
		padding: 0 5px;
		transition: opacity .3s;
	}
	&:hover {
		opacity: .75;
	}
	img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		width: 100%;
	}
}
.thumbnails .agile__nav-button--prev {
    left: -45px;
}
.thumbnails .agile__nav-button--next {
    right: -45px;
}
.thumbnails .agile__nav-button {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.fa, .fas {
    font-weight: 900;
}
.fa, .far, .fas {
    font-family: "Font Awesome 5 Free";
}
.fa, .fab, .fal, .far, .fas {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.agile__nav-button {
    background: transparent;
    border: none;
    font-size: 24px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.fa-chevron-left:before {
    content: "\f053";
}